<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<appSettings>
		<add key="FacebookAPI.AppID" value="876402185751770" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="FacebookAPI.AppSecret" value="28e50f4852f19d976d132e4da0c7c5ec" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

		<add key="GooglePlus.AppID" value="393562117312-37quoibauo0ldb9m4i06ihokp9mdh19v.apps.googleusercontent.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
		<add key="GooglePlus.AppSecret" value="qBJArS9r1Sjj8n82fZt5BYch" xdt:Transform="Replace" xdt:Locator="Match(key)" />
	</appSettings>
</configuration>
