@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>We are a diverse group of Minecraft players of all skill levels and we also develop our own Minecraft modifications. We own/run a Minecraft server for all of our players, as well as a TeamSpeak server and of course this website. If you would like more information on our organization, please feel free to contact us or apply online for whitelisting on our servers.</p>
