
@{
    ViewBag.Title = "Application";
}

<h2>Join Team IHOC</h2>
<p>Fill out the following application to be considered to join Team IHOC. If accepted you will be whitelisted on our servers. Please also make sure to create an account on the forums website as well.</p>

<script src="http://www.emailmeform.com/builder/forms/jsform/Q8b7e1LY8Cq6B670ad2VP8" type="text/javascript"></script>
<div style="margin-top:18px;text-align:center"><div id='emf_advertisement'><font face="Verdana" size="2" color="#000000">Powered by</font><span style="position: relative; padding-left: 3px; bottom: -5px;"><img src="//assets.emailmeform.com/images/footer-logo.png?RU1GLTAyLTI3" /></span><font face="Verdana" size="2" color="#000000">EMF </font><a style="text-decoration:none;" href="http://www.emailmeform.com/" target="_blank"><font face="Verdana" size="2" color="#000000">Online Form</font></a></div></div>