@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Address:</strong> <br/>
    38 Chestnut Cmn<br/>
    New Gloucester, ME 04260<br/>
    <abbr title="Phone">P:</abbr>
    207.650.5729
</address>

<address>
    <strong>Administrative Email:</strong> <a href="mailto:admin@TeamIHOC.com?subject=Website%20Contact">admin@TeamIHOC.com</a><br />
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>

<div class="row">
    <div class="col-lg-12">
        <iframe src="https://discordapp.com/widget?id=125381824842170368&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    </div>
</div>

