@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to Team International House of Creepers (IHOC)</h2>
    <p class="lead">Welcome to the home of the International House of Creepers (TeamIHOC). We are a diverse group of Minecraft players of all skill levels and we also develop our
	        own Minecraft modifications. We own/run a Minecraft server for all of our players, as well as a Discord server and of course this website and forums. If you would like more
					information on our organization, please feel free to contact us or @Html.ActionLink("apply online", "Application") for whitelisting on our servers.</p>
    <p><a href="/home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>
	        Website has been updated and TeamIHOC has new branding! Also check ou the new <a href="https://shop.spreadshirt.com/teamihoc">Merch Store</a>! Proceeds go to help pay my electrical bill for running the servers.
        </p>
    </div>
    <div class="col-md-4">
        <h2><a href="https://discord.gg/0hQAXZIOgrb5RFRG">TeamIHOC on Discord</a></h2>
        <p>We have setup channels on Discord for community text and voice chat.</p>
    </div>
    <div class="col-md-4">
        <h2>TeamIHOC on Youtube</h2>
        <p>Many of our members are starting to create content for youtube. Game play throughs, lets play series, and more!</p>
    </div>
</div>