@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TeamIHOC</h1>
    <p class="lead">Welcome to the home of the International House of Creepers (TeamIHOC). We are a diverse group of Minecraft players of all skill levels and we also develop our
	        own Minecraft modifications. We own/run a Minecraft server for all of our players, as well as a TeamSpeak server and of course this website. If you would like more
					information on our organization, please feel free to contact us or apply online for whitelisting on our servers.</p>
    <p><a href="/home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Minecraft Community</h2>
        <p>
	        More info here
        </p>
    </div>
    <div class="col-md-4">
        <h2>TeamIHOC TeamSpeak</h2>
        <p>More info here</p>
    </div>
    <div class="col-md-4">
        <h2>TeamIHOC Modding</h2>
        <p>More Info here.</p>
    </div>
</div>