
@{
    ViewBag.Title = "ServerInfo";
}

<h3>Minecraft</h3>

<div class="row">
    <div class="col-lg-12">
        <h4>IHOC Main</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Server Instance Name</th>
                    <th>Minecraft Version</th>
                    <th>Modpack Name</th>
                    <th>Modpack Version</th>
                    <th>Connection Info</th>
                </tr>
            </thead>
            <tbody class="table-hover">
                <tr>
                    <td>IHOC Main</td>
                    <td>1.9.4</td>
                    <td><a href="http://mods.curse.com/modpacks/minecraft/242462-all-the-mods">ALL THE MODS</a></td>
                    <td>v0.0.7</td>
                    <td>mc.teamihoc.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
