
<div class="row documentation-message">
	<div class="col-md-6">

		<div class="panel panel-mvc">
			<div class="panel-heading">Welcome Team IHOC</div>
			<div class="panel-body">
				<p>
					New Diggs for the Team IHOC Forums.
				</p>
			</div>
		</div>

	</div>
	<div class="col-md-6">

		<div class="panel panel-mvc">
			<div class="panel-heading">Welcome to the International House of Creepers.</div>
			<div class="panel-body">
				<p>
                    Welcome to the home of the International House of Creepers (TeamIHOC). We are a diverse group of Minecraft players of all skill levels and we also are trying develop our
                    own Minecraft modifications. We own/run game server(s) for all of our players. If you would like more
                    information on our organization, please feel free to <a href="http://dev.teamihoc.com/Home/Contact">contact us</a> or <a href="http://dev.teamihoc.com/Home/Application">apply online</a>.
				</p>
				<div class="row">
					<div class="col-xs-6">
						<div class="fb-like" data-href="https://www.facebook.com/IHofC" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					</div>
					@*<div class="col-xs-6">
								<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1387703846448&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=forummvc&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 131px; height: 20px;"></iframe>
								<script type="text/javascript">
										!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
								</script>
						</div>*@
				</div>
			</div>
		</div>
	</div>
</div>
