
<div class="row documentation-message">
	<div class="col-md-6">

		<div class="panel panel-mvc">
			<div class="panel-heading">Welcome Team IHOC</div>
			<div class="panel-body">
				<p>
					New Diggs for the Team IHOC Forums.
				</p>
			</div>
		</div>

	</div>
	<div class="col-md-6">

		<div class="panel panel-mvc">
			<div class="panel-heading">Welcome to the International House of Creepers.</div>
			<div class="panel-body">
				<p>
					Anyone wishing to help in our transition over to the new Solder system, please message Gunner76th.
				</p>
				<p>
					All (18+ only) are welcome to join our community but must first go through the application process. For now, the application process will be recreated on our website at a future
					date. For now, everyone who wants to apply can create a new account here, fill out all the information on their profile, and then send an Administrator a message.
				</p>
				<div class="row">
					<div class="col-xs-6">
						<div class="fb-like" data-href="https://www.facebook.com/IHofC" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
					</div>
					@*<div class="col-xs-6">
								<iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" src="http://platform.twitter.com/widgets/follow_button.1387492107.html#_=1387703846448&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=forummvc&amp;show_count=false&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="width: 131px; height: 20px;"></iframe>
								<script type="text/javascript">
										!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");
								</script>
						</div>*@
				</div>
			</div>
		</div>
	</div>
</div>
